html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  
}

body{
    overflow: hidden;
}

button {
    background-color: cornflowerblue;
    color: black;
    text-align: center;
    font-size: 50px;
    border-radius: 8px;
    height:100px;
    width:500px;
    margin-top:10px;
}

button:hover{
    background-color: skyblue;
    color: black;
    
}

#gamemenu{
    position: center;
    margin-top: 10%;
}

#startscreen {
    background-image: url("/pictures/background.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header{
    font-size: 125px;
    color: darkgreen;
    padding-top: 5%;
    font-family: 'Arial Rounded MT';
}

#frame{
    position:center
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 40px; /* Mehr Abstand innerhalb des Popups */
    border-radius: 10px; /* Runder Rand */
    width: 600px; /* Breite des Popups */
    height: 700px; /* Höhe des Popups */
    text-align: center;
}

/* Der Schließ-Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
}