html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

.header {
    font-size: 125px;
    color: darkgreen;
    padding-top: 5%;
    font-family: 'Arial Rounded MT';
}

#gamemenu {
    position: center;
    margin-top: 10%;
}

#startscreen {
    background-image: url("/pictures/background.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

/*#frame {
    position: center
}*/


button {
    background-color: cornflowerblue;
    color: black;
    text-align: center;
    font-size: 50px;
    border-radius: 8px;
    height:100px;
    width:500px;
    margin-top:10px;
}

button:hover{
    background-color: skyblue;
    color: black;  
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
}

.btn-close {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

/*LevelUp*/
.levelUp-content {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 600px;
    height: 700px;
    text-align: center;
}


/*Credits*/
.credits-content {
    background-image: url("/pictures/background_credits.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 40px;
    border-radius: 10px;
    height: 60%;
    width: 55%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

    .credits-content h2 {
        color: aliceblue;
    }

    .credits-content h3 {
        margin-top: 20px;
    }

    .credits-content ul {
        list-style: none;
    }

    .credits-content li {
        font-size: 25px;
        /*margin-bottom: 10px;*/
    }

/*Settings*/
#settings-content {
    background-color: white;
    /*padding: 40px;*/
    border-radius: 10px;
    width: 400px;
    height: 500px;
    text-align: left;
    font-size:20px;
}