@page
@model DefaultMap

@* <img src="/pictures/betterTestPic.png" /> *@
<div>
@foreach(var item in @Model.entities)
{
	
	//<p>@item</p>
		<img src="/pictures/test.png" style="left:@item.x\px; top:@item.y\px; position:relative; width:60px;" />
}
</div>