@page "/DefaultMap"
@model DefaultMap

@* <img src="/pictures/betterTestPic.png" /> *@

<button id="openLevelUp">Popup öffnen</button>
<!-- Das Popup-Fenster -->
<div id="levelUp" class="popup">
	<div class="levelUp-content">
	</div>
</div>

<div>
@for (int i = 0; i < @Model.entities.Count; i++)
{
		//<p>@item</p>
		<img src="/pictures/mouse_enemy.png" id="@i" style="left:@($"{@Model.entities[i].x}px"); top:@($"{@Model.entities[i].y}px"); position:relative; width:60px;" />
}
</div>
