@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="startscreen">
    <div class="text-center">
        <h1 class="display-4">Swarmbreaker</h1>
    </div>
    <div id="gamemenu">
        <a href="~\DefaultMap.cshtml"><button type="button">Play</button><br></a>
        <a href="~\DefaultMap.cshtml"><button type="button">Options</button><br></a>
        <a href="~\DefaultMap.cshtml"><button type="button">Credits</button><br></a>
    </div>
</div>

