@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="startscreen">
    <div class="text-center">
        <h1 class="display-4">Swarmbreaker</h1>
    
        <div id="gamemenu">
            <a asp-page="/Defaultmap"><button type="button">Play</button></a><br>
            <a asp-page="/Defaultmap"><button type="button">Options</button></a><br>
            <a asp-page="/Defaultmap"><button type="button">Credits</button></a><br>
        </div>
    
    </div>
</div>

