@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="startscreen">
    <div class="text-center">
        <h1 class="header">Swarmbreaker</h1>
        <div id="gamemenu">
            <a asp-page="/Defaultmap"><button type="button">Play</button></a><br>
            <a asp-page="/Defaultmap"><button type="button">Options</button></a><br>
            <a asp-page="/Defaultmap"><button type="button">Credits</button></a><br>
        </div>




        <button id="openPopupBtn">Popup öffnen</button>

        <!-- Das Popup-Fenster -->
        <div id="popup" class="popup">
            <div class="popup-content">
                @* <span id="closePopupBtn" class="close-btn">close</span> *@
                <h2>Level up</h2>
                <span id="closePopupBtn">
                    <button>Close</button>
                </span>
                <button type="button">Close</button>
                <button type="button">Close</button>
            </div>
        </div>

        <script src="/js/site.js"></script>
    </div>
</div>

