@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="startscreen">
    <div class="text-center">
        <h1 class="header">Swarmbreaker</h1>
        <div id="gamemenu">
            <a asp-page="/Defaultmap"><button type="button">Play</button></a><br>
            <a asp-page="/Defaultmap"><button type="button">Options</button></a><br>
            <a asp-page="/Defaultmap"><button type="button">Credits</button></a><br>
        </div>




        <button id="openPopupBtn">Popup öffnen</button>

        <!-- Das Popup-Fenster -->
        <div id="popup" class="popup">
            <div class="popup-content">
                <h2>Level up</h2>
                    @for (int i = 0; i<3;i++)
                    {
                    <button class="closePopupBtn" data-close="true">@Model.stats[Model.randomNum()]</button>
                    Model.stats.RemoveAt(Model.index);
                    }
            </div>
        </div>
        @* <audio controls autoplay><source src="audiodatei.mp3" type="audio/mp3"></audio> *@
        <script src="site.js"></script>
    </div>
</div>

