@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="startscreen">
    <div class="text-center">
        <h1 class="header">Swarmbreaker</h1>
        <div id="gamemenu">
            <button type="button" onclick="location.href='@Url.Page("/Defaultmap")'">Play</button><br />
            <button type="button" onclick="openSettings()">Options</button><br />
            <button class="btn-open" onclick="openCredits()">Credits</button><br />
        </div>

        
        <!-- The Modal -->
        <div id="creditsModal" class="modal">
            <!-- Modal Content -->
            <div class="credits-content">
                <h2>Project Swarmbreaker<br />Credits</h2>
                <br />
                <h3>Programmers</h3>
                <ul>
                    <li>Nico</li>
                    <li>nom1con</li>
                    <li>DeadFox23</li>
                    <li>Muemmelfrau</li>
                </ul>
                <button class="btn-close" onclick="closeCredits()"></button>
            </div>
        </div>

        <div id="openSettings" class="popup">
            <div id="settings-content">
                <h2>Options</h2>
                Press F11 for Fullscreen<br /><br />
                Volume
                <input type="range" id="volumeSlider" min="0" max="1" step="0.01" value="1">
                <button class="btn-close" onclick="closeSettings()"></button>
            </div>
        </div>

        @* <audio id="backgroundMusic" src="music.mp3" loop></audio> *@
    </div>
</div>

