@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="startscreen">
    <div class="text-center">
        <h1 class="header">Swarmbreaker</h1>
        <div id="gamemenu">
            <button type="button" onclick="location.href='@Url.Page("/Defaultmap")'">Play</button><br />
            <button type="button" onclick="location.href='@Url.Page("/Defaultmap")'">Options</button><br />
            <button type="button" onclick="location.href='@Url.Page("/Defaultmap")'">Credits</button><br />
        </div>




        <button id="openPopupBtn">Popup öffnen</button>

        <!-- Das Popup-Fenster -->
        <div id="popup" class="popup">
            <div class="popup-content">
            </div>
        </div>
        @* <audio controls autoplay><source src="audiodatei.mp3" type="audio/mp3"></audio> *@
    </div>
</div>

